/* LAYOUT PRINCIPAL (Dashboard)*/

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* impede scrollbar interna errada */
}

/* CONTEÚDO AO LADO DA SIDEBAR*/

.conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  height: 100vh;
  overflow: hidden;
}

/*ÁREA DA PÁGINA (onde entra o Outlet)*/

.pagina {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* scroll apenas dentro da página */
}
