.navbar {
  height: 60px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #ddd;
}

.titulo {
  font-size: 20px;
  font-weight: 600;
}

.btn-logout {
  background-color: #b60000;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-logout:hover {
  background-color: #8a0000;
}
